@mixin typing-animation($width, $property) {
    $keyframes-name: unique-id(); // Gera um nome único para os keyframes
    
    @keyframes #{$keyframes-name} {
        from {
            width: 0;
        } 
        to {
            width: $width;
        }
    }
    
    animation: $keyframes-name 4.5s $property;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes slideLeft {
    from {
        opacity: 0;
        transform: translateX(-50vw);
    } to {
        opacity: 1;
        transform: translateX(0);
    }
}