.small {
    @include set-small-font();
}
.v-large {
    @include set-very-large-font();
}
.main-heading {
    font-size: $heading-size;
}
.main-subheading {
    font-size: $subheading-size;
}

.gradient {
    @include gradient-text();
}

.main-subheading.animation-typing {
    width: 12ch; 
    white-space: nowrap;
    @include typing-animation(12ch, infinite);
}

.page-section {
    width: 100vw;
    min-height: 65vh;

    display: flex;
    flex-direction: column;
    gap: 2em;

    padding: 0.5em;
}

.paragraph {
    color: $paragraph-color;
    width: 70%;
    text-align: justify;
}

.subheading {
    font-size: $subheading-size;
    text-align: center;
}
.subheading[data-animate="true"] {
    @include typing-animation(100%, alternate);
}

.card-skill {
    flex-basis: clamp(13vw, 140px, 120px);

    width: fit-content;
    min-height: 95px;
    max-height: 160px;
    overflow: hidden;
    text-align: center;

    padding: .5em;

    color: $primary-theme-color;

    background: #222;
    border-radius: 20px 20px 0 0;
    border-bottom: 4px solid $primary-theme-color;

    transition: all .5s;
    cursor: pointer;

    >span {
        font-family: Arial;
        font-weight: bold;
        text-transform: uppercase;
        @include set-medium-font();
    }

    >i {
        font-size: $subheading-size
    }
}

.card-skill:hover {
    color: $secondary-theme-color;
    border-color: $secondary-theme-color;
}

.btn-container {
    width: 100%;
    margin-top: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;

    position: relative;

    i {
        color: $text-color;
        transition: color .8s;
    }
    i:hover {
        color: $secondary-theme-color;
    }
}

.button-cv {
    width: 280px;

    padding: 10px;

    text-align: center;

    position: relative;
    z-index: 900;

    border-radius: 2em;
    cursor: pointer;

    font-size: 1.3em;
    font-weight: bolder;

    color: $text-color;
    text-shadow: 2px 2px #000;
    background: transparent;
    border: 2px solid $text-color;
}

.button-cv:before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;

    width: 0;
    height: 100%;

    background-image: $gradient-theme;
    transition: all .5s;
}
.button-cv:hover::before {
    width: 100%;
}

.social-link {
    font-size: 2.5em;
}