.introduction {
    width: 100%;
    min-height: 100vh;
    background-image: 
        linear-gradient(to right, #0b265581, #0b265581),
        url('https://w.forfun.com/fetch/0d/0df95cbd082b71f74ca3c2b624fae74f.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}