.introduction {
    width: 100%;
    min-height: 100vh;
    background-image: 
        linear-gradient(to bottom, #0b265581, #000000bc),
        url('../../../imgs/wallpaper.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    .info_container {
        width: 100vw;

        position: absolute;
            top: 50%;
            left: 50%;
        transform: translate(-50%, -50%);

        transition: opacity 3s;
        animation: fadeIn 3s;

        display: flex;
            flex-wrap: wrap;
            flex-direction: row-reverse;
            gap: 2em;
            justify-content: center;
            align-items: center;

        .pfp {
            width: clamp(20vw, 15em, 7.5em);
            height: auto;
            border-radius: 50%;
            transform: scaleX(-1);
        }
    }
}