// Declaração de variáveis globais
$text-color: #fff;
$paragraph-color: #808080;
$primary-theme-color: #63b6fa;
$secondary-theme-color: #f388f3;

$default-font: 'Typo Formal';
$heading-size: clamp(6.5vw, 3.5em, 2.5em);
$subheading-size: clamp(3.5vw, 2em, 1.8em);

$gradient-theme: linear-gradient(to right, $primary-theme-color, $secondary-theme-color);

// Mixins


// Fontes

@mixin set-small-font {
    font-size: small;
}

@mixin set-large-font {
    font-size: large;
}

@mixin set-very-large-font {
    font-size: x-large;
}

@mixin set-medium-font {
    font-size: medium;
}

// Estilos reutilizáveis

@mixin gradient-text {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: $gradient-theme;
}