body {
    @include set-very-large-font();

    @media screen and (max-width: 64em) {
        .paragraph {
            @include set-medium-font();
        }

        .main-heading {
            text-align: center;
        }

        .main-subheading {
            margin: auto;
        }
    }

    @media screen and (max-width: 48em) {
        @include set-large-font();
        
        .button-cv {
            width: 220px;
        }
    }

    @media screen and (max-width: 31em) {
        @include set-medium-font();
        .button-cv {
            width: 180px;
        }
    }

    .card-skill {
        width: 115px;
    }

    .skills-container {
        padding: 0 2em 0 2em;
    }

    @media screen and (max-width: 64em) {
        .menu {
            flex-direction: column;
            justify-content: center;
        }

        .hamburger-container {
            display: block;
            z-index: 222;
            position: fixed;
                top: 10px;
                left: 20px;

            i {
                overflow-y: hidden;
                cursor: pointer;
                @include gradient-text;
                font-size: 2em;
                transition: transform .5s;
            }

            i.active {
                transform: rotate(90deg)
            }
        }

        .page-header {
            @include set-very-large-font();

            width: 200px;
            height: 100vh;
            padding: 6px;
            align-items:first baseline;
            padding-top: 6em;
            border-bottom: 0;
            border-right: 3px solid transparent;
            border-image: $gradient-theme 10;
            backdrop-filter: blur(5px);
            transform: translateX(-201px);
        }

        .page-header.active {
            transform: translateX(0);
        }
    }
}

@media screen and (max-width: 768px) {
    .heading-container .btn-container {
        width: 60%;
        justify-content: center;
        align-items: center;
        margin: .5em auto;
    }
}