@font-face {
  font-family: "Typo Formal";
  src: url("../../../fonts/typo-formal.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  border: none;
  color: inherit;
  text-decoration: none;
  resize: none;
}
* :focus {
  outline: 0;
}

::selection {
  background-color: lightblue;
  color: #000;
  text-shadow: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 6em;
  scrollbar-width: thin;
  scrollbar-color: #f388f3;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #63b6fa;
  border-radius: 6px;
}

body {
  font-size: x-large;
}
@media screen and (max-width: 64em) {
  body .paragraph {
    font-size: medium;
  }
  body .main-heading {
    text-align: center;
  }
  body .main-subheading {
    margin: auto;
  }
}
@media screen and (max-width: 48em) {
  body {
    font-size: large;
  }
  body .button-cv {
    width: 220px;
  }
}
@media screen and (max-width: 31em) {
  body {
    font-size: medium;
  }
  body .button-cv {
    width: 180px;
  }
}
body .card-skill {
  width: 115px;
}
body .skills-container {
  padding: 0 2em 0 2em;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-100vw);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.small {
  font-size: small;
}

.v-large {
  font-size: x-large;
}

.main-heading {
  font-size: clamp(6.5vw, 3.5em, 2.5em);
}

.main-subheading {
  font-size: clamp(3.5vw, 2em, 1.8em);
}

.gradient {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #63b6fa, #f388f3);
}

.main-subheading.animation-typing {
  width: 12ch;
  white-space: nowrap;
  animation: u3ap3n2 4.5s infinite;
}
@keyframes u3ap3n2 {
  from {
    width: 0;
  }
  to {
    width: 12ch;
  }
}

.page-section {
  width: 100vw;
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 0.5em;
}

.paragraph {
  color: #808080;
  width: 70%;
  text-align: justify;
}

.subheading {
  font-size: clamp(3.5vw, 2em, 1.8em);
  text-align: center;
}

.subheading[data-animate=true] {
  animation: u3ap3ny 4.5s alternate;
}
@keyframes u3ap3ny {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.card-skill {
  flex-basis: clamp(13vw, 140px, 120px);
  width: fit-content;
  min-height: 95px;
  max-height: 160px;
  overflow: hidden;
  text-align: center;
  padding: 0.5em;
  color: #63b6fa;
  background: #222;
  border-radius: 20px 20px 0 0;
  border-bottom: 4px solid #63b6fa;
  transition: all 0.5s;
  cursor: pointer;
}
.card-skill > span {
  font-family: Arial;
  font-weight: bold;
  text-transform: uppercase;
  font-size: medium;
}
.card-skill > i {
  font-size: clamp(3.5vw, 2em, 1.8em);
}

.card-skill:hover {
  color: #f388f3;
  border-color: #f388f3;
}

.btn-container {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
  position: relative;
}
.btn-container i {
  color: #fff;
  transition: color 0.8s;
}
.btn-container i:hover {
  color: #f388f3;
}

.button-cv {
  width: 280px;
  padding: 10px;
  text-align: center;
  position: relative;
  z-index: 900;
  border-radius: 2em;
  cursor: pointer;
  font-size: 1.3em;
  font-weight: bolder;
  color: #fff;
  text-shadow: 2px 2px #000;
  background: transparent;
  border: 2px solid #fff;
}

.button-cv:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 0;
  height: 100%;
  background-image: linear-gradient(to right, #63b6fa, #f388f3);
  transition: all 0.5s;
}

.button-cv:hover::before {
  width: 100%;
}

.social-link {
  font-size: 2.5em;
}

.page-header {
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 111;
  padding: 4px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  transition: transform 0.5s;
}

.page-header.shown {
  backdrop-filter: blur(5px);
  transform: translateY(0px);
  border-bottom: 3px solid transparent;
  border-image: linear-gradient(to right, #63b6fa, #f388f3) 10;
}

.page-header.hidden {
  transform: translateY(-100px);
}

.menu-wrap {
  width: 100%;
  margin-left: 25px;
}

.menu {
  display: inline-flex;
  gap: 2.5em;
}

.menu-item {
  position: relative;
  transition: all 0.8s;
}
.menu-item :hover {
  color: #63b6fa;
}
.menu-item > a {
  position: relative;
}
.menu-item > a::before {
  content: "";
  display: block;
  width: 0px;
  height: 2.5px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #63b6fa, #f388f3);
  position: absolute;
  bottom: 0px;
  left: 0;
  transition: all 0.5s;
}
.menu-item > a:hover::before {
  width: 100%;
}

.introduction {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(11, 38, 85, 0.5058823529), rgba(0, 0, 0, 0.737254902)), url("../../../imgs/wallpaper.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.introduction .info_container {
  width: 100vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 3s;
  animation: fadeIn 3s;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  gap: 2em;
  justify-content: center;
  align-items: center;
}
.introduction .info_container .pfp {
  width: clamp(20vw, 15em, 7.5em);
  height: auto;
  border-radius: 50%;
  transform: scaleX(-1);
}

body {
  background-color: #000;
  color: #fff;
  font-family: "Typo Formal";
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.about[data-animate=true] {
  animation: fadeIn 1.5s;
}

.skills {
  animation: slideLeft 0.8s;
}

.about, .skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.skills-container {
  padding: 0 5em 0 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5em;
}

/*# sourceMappingURL=global.css.map */
