<section class="page-section contact" id="contact">
    <h4 class="subheading">Contato</h4>

    <p>
        Preencha o formulário abaixo para esclarecer suas
        dúvidas e darmos início ao seu projeto!
    </p>

    <% console.log(errors) %>

    <form action="send" method="post" class="page-form">
        <input class="form-input" type="text" name="nome_cliente" id="name" placeholder="Nome *" required>
        <input class="form-input" type="email" name="email_cliente" id="email" placeholder="Email *" required>  
        <input class="form-input" type="text" name="assunto_cliente" id="assunto" placeholder="Assunto">

        <textarea class="form-input" name="mensagem_cliente" id="msg" cols="30" rows="10" placeholder="Mensagem *" required></textarea>
    
        <button type="submit" class="gradient-btn form-btn">
            Enviar
        </button>
    </form>
</section>